<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="back-img img-fluid">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-secondary">
            <div class="container">
                @Html.ActionLink("Omega Shipping", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Export", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Import", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Payment", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Logout", "LogOut", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
                <div style="color:whitesmoke">
                    Welcome @Session["customerName"] 👋 &nbsp;
                    <a href="@Url.Action("Contact", "Home")"><img src="~/Image/Profile.png" height="20" width="20" /></a>
                    <label id="sessionCountdown"></label>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content bg-body">
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year Omega Shipping,PVT. All rights are reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
    function updateSessionCountdown() {
        var countdownElement = document.getElementById('sessionCountdown');
        var sessionTimeoutMinutes = @Session["TimeOut"]; // Access session timeout directly from Session
            countdownElement.innerText = 'Time left: ' + sessionTimeoutMinutes + ' min';


            sessionTimeoutMinutes--;
            setTimeout(update, 60000); // 60000 milliseconds = 1 minute
        }

        update();
    }

    // Call the function to start the countdown
    updateSessionCountdown();
    </script>

    <style>
        .back-img {
            background-image: url('../Image/shippic.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</body>
</html>
